.tab_content {
    
    display: flex;
    .top_part {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 5rem;
        padding-top: 1rem;
        padding-left: 2rem;


        .sketch_left {
            margin-left: 5rem;
            width: fit-content;
            .heading_sketch {
                font-size: larger;
                margin-left: 5rem;
                font-weight: 500;
                color: #e7b000;
            }
        }
        .tab_image {
            height: 22rem;
            width: 22rem;
            border-radius: 50%;
        }
        
        .sketch_detail {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            padding-left: 8rem;
        }
    }
    .select_req {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 3rem 5rem;
        line-height: 1.5rem;

        .client_select {
            height: 1.8rem;
            border-radius: 5px;
            border-color: chocolate;
            margin: 0.4rem 0;
        }
        
        .select_image {
            background-color: #ed8936;
            color: black;
        }

        .next_page {
            padding-top: 2rem;
    
            .order_button {
                background-color: #ed8936;
                margin-right: 2rem;
                .order_link {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .selected_image {
        padding-top: 5rem;

        .order_button {
            background-color: #ed8936;
            color: black;
        }
    }
}
