@import '~react-pro-sidebar/dist/scss/styles.scss';
.container_sidebar {
    height: 100vh;
    background: #f6f6f6;

    .sidebar_data {
    position: fixed;

        .sidebar_menu {
            background: RGB(253 249 240);
            height: -webkit-fill-available;

    
            .sidebar_content_username {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: black;

                .closemenu {
                    cursor: pointer;

                .collapse_button {
                    display: flex;
                    align-items: center;
                    
                .user_image {
                    height: 8rem;
                    width: fit-content;
                }
                }
                }
            }
            .sidebar_content {
            display: flex;
            color: black;
            justify-content: space-between;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            list-style: none;
            height: 2.20rem;
            text-decoration: none;
            font-size: 1.25rem;
            cursor: pointer;

            }
        }
    }
    .pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
        background: RGB(253 249 240);
    }
    .pro-sidebar .pro-menu {
         padding-top: 0px; 
         padding-bottom: 0px; 
    }
    .pro-menu-item {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
        padding-left: 1rem;
    }
    
}