div {

    .navbar {
        height: 5.625rem;
        width: 100%;
        box-shadow: 0 3px 12px RGB(22 22 22 / 5%);
        background-color: RGB(240 253 250);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        opacity: 1;
        z-index: 10;
        display: flex;
        align-items: center;

        .navbar_section {
            flex: 1 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .navbar_text {
                color: #e7b000;
                font-size: 1rem;
                font-weight: 300;
                margin-right: 1rem;
                margin-left: 1rem;
            }

            .navbar_line {
                height: 3rem;
                width: 4px;
            }
        }

        .navbar_section {
            flex: 1 1;
            display: flex;
            justify-content: center;
            
        .logo {
            display: flex;
            align-items: center;

            img {
                margin-left: 35px;
                margin-top: 0.25rem;
                width: 70px;
                object-fit: cover;
            }

            .logo_text {
                font-weight: 700;
                padding-left: 0.25rem;
                color: rgb(219, 51, 51);
            }
        }
        }

        .navbar_section_last {
            flex: 1 1;
            display: flex;
            justify-content: flex-end;

            .icon-shopping {
                margin-right: 20px;
                display: flex;
                align-items: center;
                margin-left: 50px;
                cursor: pointer;
                color: grey;
    
                &:hover {
                    color: black;
                }
            }
    
            .cart_count {
                width: 20px;
                height: 20px;
                font-size: 1.1rem;
                font-weight: 400;
                box-sizing: border-box;
                color: #fff;
                border-radius: 50%;
                background-color: #e7b000;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .avatar_logo {
                display: flex;
                align-items: center;
    
                img {
                    cursor: pointer;
                    width: 30px;
                    object-fit: cover;
                    margin-right: 90px;
                    filter: drop-shadow(0 20px 13px RGB(0 0 0 / 0.03)) drop-shadow(0 8px 5px RGB(0 0 0 / 0.08));
                }
            }
            .dropdown-item {
                position: absolute;
                top: 55px;
                right: 75px;
                border-radius: 20px;
                border-color: #f6f6f6;
            }

        }
    }
}