.container {
    .navbar {
        height: 75px;
        width: 100%;
        box-shadow: 0 3px 12px RGB(22 22 22 / 5%);
        background-color: RGB(240 253 250);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        opacity: 1;
        z-index: 10;
        display: flex;


        .logo {
            display: flex;
            align-items: center;

            img {
                margin-left: 35px;
                margin-top: 10px;
                margin-right: 10px;
                width: 50px;
                object-fit: cover;
            }
        }
        
        ul {
            display: flex;
            align-items: center;
            gap: 60px;
            list-style: none;
            color: gray;
            cursor: pointer;
            margin-left: auto;

            &:hover {
                color: black;
            }

            .nav_links {
                text-decoration: none;
                color: grey;
            }
        }

        .icon-shopping {
            margin-right: 20px;
            display: flex;
            align-items: center;
            margin-left: 50px;
            cursor: pointer;
            color: grey;

            &:hover {
                color: black;
            }
        }

        .cart_count {
            width: 20px;
            height: 20px;
            font-size: 1.1rem;
            font-weight: 400;
            box-sizing: border-box;
            color: #fff;
            border-radius: 50%;
            background-color: #e7b000;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .avatar_logo {
            display: flex;
            align-items: center;

            img {
                cursor: pointer;
                width: 30px;
                object-fit: cover;
                margin-right: 90px;
                filter: drop-shadow(0 20px 13px RGB(0 0 0 / 0.03)) drop-shadow(0 8px 5px RGB(0 0 0 / 0.08));
            }
        }
        .css-319lph-ValueContainer {
            display: none;
        }
        .css-b62m3t-container {
            position: absolute;
            top: 60px;
            right: 85px;
            box-sizing: border-box;
        }
        .css-26l3qy-menu {
            width: fit-content;
        }
    }

    .container_content {
        display: flex;
        box-shadow: 0 3px 12px RGB(22 22 22 / 5%);
        background-color: #f6f6f6;

        .left_portion {
            width: 50%;
            margin-left: 75px;

            .inner_content_left {
                display: flex;
                align-items: center;
                margin-top: 30px;
                background-color: RGB(255 237 213);
                gap: 10px;
                border-radius: 9999px;
                height: 40px;
                width: fit-content;

            p {
                color: #ed8936;
                font-weight: 600;
                margin-left: 10px;
            }

            .image_span {
                object-fit: contain;
                background-color: white;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }

            .delivery_img {
                height: 35px;
            }
            }

            .inner_header {

                line-height: 4em;
                h1 {
                    font-weight: 900;
                    font-size: 2.5rem;
                    letter-spacing: 0.15em;
                    height: 8rem;

                    .inner_left_heading {
                        color: #ed8936;
                        display: block;
                    }
                }
            }

            .inner_left_paragraph {
                color: grey;
                background-color: #f6f6f6;
                line-height: 2.5em;

            }

            .inner_left_button {
                
                .order_button {
                    background-color: #ed8936;
                    margin-bottom: 1em;
                    .order_link {
                    color: black;
                    text-decoration: none;
                    }
                }
            }
        }

        .right_portion {
            margin-top: 1em;
            margin-left: 5em;

            .image_right {
                height: 30em;
                margin-left: 8em;
                width: 28em;
            } 
            .wrapper_overlay {
                // display: flex;
                // position: absolute;
                // top: 100px;
                // right: 120px;

                .overlay_1 {
                    position: absolute;
                    top: 10em;
                    right: 25em;
                }
                
                .overlay_2 {
                    position: absolute;
                    top: 10em;
                    right: 10em;
                }

            .overlay_blur {
                cursor: pointer;
                width: fit-content;
                box-shadow: 0 0 1rem 0 RGB(0 0 0 / 20%);
                border-radius: 5px;
                background-color: rgba(255, 255, 255, .15);
                backdrop-filter: blur(5px);
                text-align: center;
                height: 10em;

                img {
                    height: -webkit-fill-available;
                    width: 9rem;
                }
            }
            }

            .wrapper_overlay_2 {
                // display: flex;
                // position: absolute;
                // top: 400px;
                // right: 120px;

                .overlay_3 {
                    position: absolute;
                    top: 24em;
                    right: 25em;
                }

                .overlay_4 {
                    position: absolute;
                    top: 24em;
                    right: 10em;
                }

                .overlay_blur {
                    cursor: pointer;
                    width: fit-content;
                    box-shadow: 0 0 1rem 0 RGB(0 0 0 / 20%);
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, .15);
                    backdrop-filter: blur(5px);
                    text-align: center;
                    height: 10em;

                    img {
                        height: -webkit-fill-available;
                        width: 9rem;
                    }
                }
            }
            
            .dish_name {
                font-family: ui-sans-serif;
                font-weight: 800;
                color: darkslategrey;
            }
        }
    }

    .container_content_2 {
        box-shadow: 0 3px 12px RGB(22 22 22 / 5%);
        background-color: RGB(240 253 250);

        .container_inner_content_2 {
            margin-left: 80px;

            .inner_content_heading {
                font-family: cursive;

            }
        }
    }
}
